.App {
  text-align: top;
}

  .App-logo {
    align-items: top;
    width: 15%;
    height: 15%;
    transform: translate(-0%, -10%);
  }

  
  .container {
    position: relative;
  }


.App-header {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  position: relative;
  z-index: 1; 
}

.rectangulo {
  position: absolute;
  top: 10px;
  left: 400px;
  width: 40%;
  height: 100%; 
  background-color: white;
  border-radius: 10px;
  z-index: 1; 
}


.credentials-button {
  transform: translate(15%, 50%);
  background-color: #2F5170;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  font-family: Arial;
  
}

.large-input {
  width: 300px;
  height: 20px;
  border-radius: 5px; 
}

body {
  margin: 0;
  background-image: url('C:\Users\Daniela Rodríguez\OneDrive\Escritorio\Proyects React\estructuras-v4\public\udea.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input::placeholder {
  color: #999;
  font-style: normal;
}



