.sidebar {
    width: 200px; /* Adjust the width as needed */
    height: 100vh;
    background-color: #2F5170;
    padding: 20px;
    z-index: -1;
  }

  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin-bottom: 10px;
  }
  
  .sidebar ul li a {
    color: #fff; /* Change the text color */
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
  }
  
  .sidebar ul li a:hover {
    background-color: white; /* Change the hover background color */
  }

  .white-square {
    width: 86%; 
    height: 100hv; 
    background-color: white;
    position: absolute;
    right: 0;
    top: 10px; 
    bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
  } 
  
  .logo { 
    width: 150px;
    height: 150px;
    margin-left: 20px;
    align-items: left;
  }

  .welcome-message {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f5f5f5; /* Fondo claro */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  }
  
  .welcome-message h1 {
    font-size: 24px; /* Tamaño de fuente */
    color: #333; /* Color del texto */
    font-family: 'Arial', sans-serif; /* Fuente */
    margin: 0; /* Elimina margen predeterminado */
  }
  
  .welcome-message h1 span {
    font-weight: bold; /* Nombre del usuario en negrita */
    color: #007BFF; /* Color del nombre del usuario */
  }
  